.grey{
    background-color: lightgrey;
}

td, th {
    padding: 5px;
}

table {
    width: 100%;
    display: block;
    border: 2px solid black;
    margin: 20px;
}

tr {
    border: 1px solid black;
}

.edit{
    border: 1px solid black;
}

.expenses_table th {
    width: 10%;
}

.budget_table th{
    width: 9%;
}