.grey{
    background-color: lightgrey;
    border-collapse: collapse;
}
td, th {
    padding: 5px;
}

table {
    display: block;
    border: 2px solid black;
    width: 100%;
}

tr {
    border: 1px solid black;
}