{% extends "index.html" %}
{% block add_expense %}

<form action="/add" method="POST">
    <input type="hidden" name="expense_id" value="NULL">
    {% for column in context["expenses"][0].__dict__.keys() if column != "expense_id" %}
        <label for="{{ column }}">{{ column.replace("_", " ").title() }}:</label>
        {% if column == "payment_method" %}
            <select name="{{ column }}" id="{{ column }}">
                {% for method in context["payment_methods"] %}
                <option value="{{ method }}">{{ method }}</option>
                {% endfor %}
            </select><br>
        {% elif column == "line_item" %}
        <select name="{{ column }}" id="{{ column }}">
            {% for item in context["line_items"] %}
            <option value="{{ item }}">{{ item.replace("_", " ").title() }}</option>
            {% endfor %}
        </select><br>
        {% elif column == "budget_month" %}
        <select name="{{ column }}" id="{{ column }}">
            {% for month in context["months"] %}
            <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select><br>
        {% elif column == "amount" %}
        <input type="number" id="{{ column }}" name="{{ column }}"
            max="9999" min="0" step="0.01" required><br>
        {% elif column == "date" %}
        <input type="date" id="{{ column }}" name="{{ column }}" 
            required value="{{ context['current_date'] }}"><br>
        {% else %}  
            <input type="text" id="{{ column }}" name="{{ column }}" required
                maxlength="20"><br>
        {% endif %}
    {% endfor %}
    <button type="submit">Submit</button><br>
</form>

{% endblock %}

