{% extends "index.html" %}
{% block edit_expense %}

<div class="edit">

<form action="/update" method="POST">
    <input type="hidden" name="expense_id" value="{{ context['expense'].expense_id }}">
    {% for key, value in context["expense"].__dict__.items() if key != "expense_id" %}
        <label for="{{ key }}">{{ key.replace("_", " ").title() }}:</label>
        {% if key == "payment_method" %}
            <select name="{{ key }}" id="{{ key }}">
                {% for method in context["payment_methods"] %}
                {% if method == value %}
                    <option value="{{ method }}" selected>{{ method }}</option>
                {% else %}
                <option value="{{ method }}">{{ method }}</option>
                {% endif %}
                {% endfor %}
            </select><br>
        {% elif key == "line_item" %}
        <select name="{{ key }}" id="{{ key }}">
            {% for item in context["line_items"] %}
            {% if item == value %}
            <option value="{{ item }}" selected>{{ item }}</option>
            {% else %}
            <option value="{{ item }}">{{ item }}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        {% elif key == "budget_month" %}
        <select name="{{ key }}" id="{{ key }}">
            {% for month in context["months"] %}
            {% if month == value %}
            <option value="{{ month }}" selected>{{ month }}</option>
            {% else %}
            <option value="{{ month }}">{{ month }}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        {% elif key == "amount" %}
        <input type="number" id="{{ key }}" name="{{ key }}"
            max="9999" min="0" step="0.01" required value="{{ value }}"><br>
        {% elif key == "date" %}
        <input type="date" id="{{ key }}" name="{{ key }}" 
            required value="{{ value }}"><br>
        {% else %}  
            <input type="text" id="{{ key }}" name="{{ key }}" required
                maxlength="20" value="{{ value }}"><br>
        {% endif %}
    {% endfor %}
    <button type="submit">Update</button><br>
</form>

</div>

{% endblock %}