{% extends "index.html" %}
{% block edit_budget %}

<form action="/edit_budget" method="POST">
    {% for key, value in context["budget_dict"].items() %}
    <label for="{{ key }}">{{ key.replace("_", " ").title() }}</label>
    {% if key == "budget_month" %}
    <input type="text" value="{{ value }}" name="{{ key }}" readonly>
    {% else %}
    <input type="number" value="{{ value }}" name="{{ key }}">
    {% endif %}
    <br>
    {% endfor %}
    <button type="submit">Update</button><br>
</form>

{% endblock %}