<!DOCTYPE html>
<html>
<head>
    <title>Expenses</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="nav_bar">
        <a href="{{ url_for('home') }}">Home</a>
    </div>


    <h1>Current Expenses for {{ context["month"] }}</h1>

    {% block add_expense %}
    {% endblock %}

    {% block edit_expense %}
    {% endblock %}

    <form action="/" method="POST">
        <label for="chosen_month">Budget Month:</label>
        <select name="chosen_month" id="chosen_month">
        {% for month in context["months"] %}
        {% if month == context["current"] %}
        <option value="{{ month }}" selected>{{ month }}</option>
        {% else %}
            <option value="{{ month }}">{{ month }}</option>
        {% endif %}
        {% endfor %}
        </select>
        <button type="submit">Update</button><br>
    </form>

    <br>
    <br>

    <table class="budget_table">
        <thead>
            <tr>
                <th>Totals</th>
                {% for key in context["budgeted"].keys() %}
                <th>{{ key.replace("_", " ").title() }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in ("budgeted", "spent", "remaining") %}
            {% if loop.index % 2 == 0 %}
            {% set i = "white" %}
            {% else %}
            {% set i = "grey" %}
            {% endif %}
        <tr class="{{ i }}">
            <td>{{ key.replace("_", " ").title()  }}</td>
            {% for value in context[key].values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <br>
    <br>

    <table class="expenses_table">
        <thead>
        <tr>
            {% for key in context["expenses"][0].__dict__.keys() %}
            <th>{{ key.replace("_", " ").title() }}</th>
            {% endfor %}
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {% for expense in context["expenses"] %}
            {% if loop.index % 2 == 0 %}
            {% set i = "white" %}
            {% else %}
            {% set i = "grey" %}
            {% endif %}
        <tr class="{{ i }}">
            {% for column in expense.__dict__.keys() %}
            <td>{{ expense[column] }}</td>
            {% endfor %}
            <td><form action="/delete" method="POST"><button name="expense_id" type="Submit" value="{{ expense.expense_id }}">Delete</button></form></td>
            <td><form action="/edit" method="POST"><button name="expense_id" type="Submit" value="{{ expense.expense_id }}">Edit</button></form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>