    {% extends "index.html" %}
    {%  block change_month %}
    
    <form action="/month" method="POST">
        <label for="chosen_month">Budget Month:</label>
        <select name="chosen_month" id="chosen_month">
        {% for month in context["months"] %}
        {% if month == context["current"] %}
        <option value="{{ month }}" selected>{{ month }}</option>
        {% else %}
            <option value="{{ month }}">{{ month }}</option>
        {% endif %}
        {% endfor %}
        </select>
        <button type="submit">Update</button><br>
    </form>

    {% endblock %}